$bg: #fff;
$text-colour: #000;
$highlight-colour: #707;

$border-style: 1px dotted $text-colour;

$spacer: 4px;
@media(orientation:portrait) {
    $spacer: 4px;
}

$max-width:1280px;
$breakpoint-1-width:1080px;
$breakpoint-2-width:768px;

$font-size: 15px;
$font-size-m: 16px;
$font-size-l: 24px;

/* default font style */
@mixin defaultFont() {
    font-family: 'Lora', serif;
    font-size:$font-size;
    text-size-adjust:none;
    color: $text-colour;
}

/* sans-serif font styles */
@mixin sansItalic() {
    font-family: 'Josefin Sans', sans-serif;
    font-size:$font-size-m;
    font-weight: 300;
    font-style: italic;
}
@mixin sansItalicLarge() {
    @include sansItalic();
    font-size:$font-size-l;
    font-weight: 200;
}

/* serif font styles */
@mixin serifBoldItalic() {
    font-size:$font-size-m;
    font-weight: 700;
    font-style: italic;
}
@mixin serifBoldItalicLarge() {
    @include serifBoldItalic();
    font-size: $font-size-l;
}